*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins';
      font-weight: 400;
      list-style: none;
      text-decoration: none;
      scroll-behavior: smooth;
}
body{
      overflow-x: hidden;
}
/* poppins-regular - latin */
@font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      src: url('./fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* poppins-500 - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      src: url('./fonts/poppins-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* poppins-600 - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      src: url('./fonts/poppins-v21-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }


    /* HEADER */
.container{
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 10px;
}
header{
      background-color: #232536;
}
.nav{
      padding: 27px 0 27px 0;
      transition: 0.3s;
      width: 100%;
      z-index: 1000000;
      border-bottom: 1px solid #FFFFFF0D;
}
.nav-content{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.nav-right{
      display: flex;
      align-items: center;
      gap: 32px;
}
.nav-right a{
      line-height: 24px;
      font-size: 16px;
      font-weight: 500;
      opacity: 60%;
      color: #fff;
      transition: 0.2s;
      padding-top: 25px;

}
.nav-right .span1{
    display: flex;
    align-items: center;
    gap: 8px;
}
.span1 p{
      color: #FFD3AF;
      cursor: pointer;
}
.nav-right a:hover{
      border-top: 2px solid #FFA155;
      opacity: 1;
}
.bars{
      display: none;
}
.menu{
      width: 100%;
      position: fixed;
      height: 0;
      top: 100.33px;
      left: 0;
      background-color: #232536f2;
      z-index: 500;
      padding: 0 40px;
      overflow: hidden;
      transition: all 0.3s linear;
}
.menu.active{
      height: auto;
      padding: 40px;
      transition: all 0.3s linear;
}
.list2{
      max-width: 500px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      text-decoration: none;
      list-style: none;
      margin: 0 auto;
}
.list2 a{
      line-height: 24px;
      font-size: 16px;
      font-weight: 500;
      opacity: 60%;
      color: #fff;
      transition: 0.3s;
}
.list2 a:hover{
      border-bottom: 2px solid #FFA155;
      opacity: 1;
}
.main-content{
      padding-top: 96px;
}
.main-content{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.main-left{
      max-width: 624px;
}
.main-left h1{
      font-weight: 600;
      font-size: 56px;
      line-height: 68px;
      color: #fff;
      margin-bottom: 24px;
}
.main-left p{
      max-width: 528px;
      line-height: 24px;
      font-size: 16px;
      font-weight: 500;
      opacity: 60%;
      color: #fff;
      margin-bottom: 32px;
}
.main-left .box{
      width: 24px;
      height: 24px;
      background-color: #FFFFFF0F;
      margin-bottom: 24px;
}
.site-btn{
      padding: 20px 32px;
      background-color: #444CFC;
      border: 2px solid transparent;
      position: relative;
      color: #fff;
      line-height: 24px;
      font-size: 16px;
      font-weight: 500;
      transition: 0.8s;
      transform-origin: center;
      
}
.bars i.tog{
      display: none;
}
.site-btn:hover{
      cursor: pointer;
      background-color: transparent;
      border: 2px solid #444CFC;
      transform: rotate(-360deg);
}
.site-btn:active{
      opacity: 0.6;
      transform: scale(0.8) skew(25deg);
}

    
.site-btn .sp{
      position: absolute;
      top: 0;
      left: 0;
}
.to-top{
      width: 50px;
      height: 50px;
      position: fixed;
      bottom: 16px;
      right: 20px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      border: 2px solid #292c43c3;
      font-size: 20px;
      color: #292c43c3;
      background: #23253651;
      margin-left: auto;
      transition: all 0.5s;
      opacity: 0;
      pointer-events: none;
      z-index: 1000000;
    }
    .to-top.active{
      bottom: 32px;
      pointer-events: auto;
      opacity: 1;
    }
    .nav.sticky{
      padding: 30px 80px;
      background: #232536e1;
      position: fixed;
      width: 100%;
}

.logos{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 33px;
}


.tex p{
      line-height: 20px;
      font-size: 14px;
      font-weight: 500;
      opacity: 60%;
      color: #fff;
}
.tex h3{
      line-height: 28px;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
}

/* SECTION 1 */
.sec1{
      width: 100%;
      background: #ffffff;
      padding: 120px 0 98px 0;
}
.sec1-content{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
}
.sec1-texts{
      display: flex;
      gap: 92px;
      align-items: center;
      justify-content: space-between;

}
.sec1-left{
      max-width: 640px;
}
.sec1-left h6{
      font-size: 10px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 3px;
      text-align: left;
      color: #000000;
      opacity: 87%;
}
.sec1-left h1{
      font-size: 35px;
      font-weight: 600;
      line-height: 50px;
      text-align: left;
      color: #232536;
}
.sec1-right{
      max-width: 545px;
}
.sec1-right h1{
      font-size: 30px;
      font-weight: 600;
      line-height: 54px;
      text-align: left;
      color: #232536;
      max-width: 545px;
 }
.sec1-right p{
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #5D5F6D;
}
.sec1-cards{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
      padding: 48px 0;
}
.sec1-cards .img{
      width: 380px;
      height: 446px;
}

.image{
      display: flex;
      align-items: center;
      justify-content: center;
}
.line{
      width: 18px;
}
.client{
      display: flex;
      align-items: center;
      gap: 66px;
      flex-wrap: wrap;

}
.moneys{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.card h1{
      font-size: 36px;
      line-height: 54px;
      font-weight: 600;
      color: #232536;
}
.card p{
      font-size: 16px;
      line-height: 24px;
      color: #000000;
}
.div p{
      font-size: 16px;
      line-height: 24px; 
      font-weight: 500;
      color: #444CFC;
}
.div p:hover{
      cursor: pointer;
}
/* SECTION 2 */
.sec2{
      background-color: #ECF8F9;
      padding: 96px 0 96px 0;
}
.sec2-content{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.sec2-left{
      max-width: 622px;
}
.sec2-left h1{
      font-size: 48px;
      font-weight: 600;
      line-height: 58px;
      color: #232536;
}
.sec2-left p{
      font-size: 16px;
      line-height: 24px;
      color: #5D5F6D;
}
.sec2-left h6{
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 3;
      color: #000000;
}

.sec2-right .box{
      width: 16px;
      height: 16px;
      background-color: #444CFC;
}
.service{
      display: flex;
      flex-direction: column;
      gap: 12px;
}
.card1{
      width: 515px;
      background-color: #ffffff;
      display: flex;
      align-items: flex-start;
      gap: 29px;
      padding: 32px 0 32px 32px;
      position: relative;
}
.card1 h2{
      font-size: 16px;
      font-weight: 600;
      line-height: 28px;
      color: #000000;
      margin-bottom: 8px;
}
.card1 p{
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #5D5F6D;
}
.service-text{
      max-width: 303px;
}
.line3{
      position: absolute;
      left: 0;
      bottom: 0;
}


/* SECTION 3 */
.sec3{
      padding: 96px 0 96px 0;
      background-color: #FFE6D2;
}
.sec3-content{
      display: flex;
      flex-direction: column;
      gap: 80px;
}
.sec3-top .site-btn:hover{
      color: #444CFC;
}
.sec3-top h1{
      font-size: 48px;
      font-weight: 600;
      line-height: 58px;
      color: #232536;
      max-width: 777px;
      margin-bottom: 40px;
}
.sec3-top h6{
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 3;
      color: #000000;
      margin-bottom: 12px;
}

.sec3-bottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 32px;
}
.sec3-card{
      width: 405px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 48px 31px 44px 48px;
      background-color: #ffffff;
}
.sec3-card h2{
      font-size: 16px;
      font-weight: 600;
      line-height: 28px;
      color: #000000;
      margin-bottom: 8px;
      margin-top: 16px;
}
.sec3-card p{
      font-size: 16px;
      line-height: 24px;
      color: #5D5F6D;
}
.read p{
      font-size: 16px;
      line-height: 24px; 
      font-weight: 500;
      color: #444CFC; 
}
.read{
      display: flex;
      gap: 12px;
      margin-top: 24px;
}
.read:hover{
      cursor: pointer;
}

/* SECTION 4 */
.sec4{
      padding: 96px 0 96px 0;
}
.sec4-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 68px;
}
.sec4-top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 100%;
}
.sec4-top h1{
      font-size: 48px;
      font-weight: 600;
      line-height: 58px;
      color: #232536;
      max-width: 733px;
      margin-bottom: 16px;
}
.sec4-top p{
      font-size: 16px;
      line-height: 24px;
      color: #232536;
      max-width: 642px;
}
.sec4-top h6{
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 3;
      color: #000000;
      margin-bottom: 16px;
}
.mini-img{
      position: absolute;
      right: 0;
      top: 10px;
}
.sec4-bottom{
      display: grid;
      grid-template-columns: repeat(3, 375px);
      column-gap: 48px;
      row-gap: 40px;
}
.sec4-card{
      display: flex;
      align-items: flex-start;
      gap: 16px;
      border: 1px solid #2325362B;
      padding: 32px 11px 28px 32px;
      position: relative;
}
.sec4-card h2{
      font-size: 16px;
      font-weight: 600;
      line-height: 28px;
      color: #000000;
      margin-bottom: 6px;
}
.sec4-card p{
      font-size: 16px;
      line-height: 24px;
      color: #232536;
      opacity: 60%;
}
.nomer{
      position: absolute;
      top: 12px;
      right: 16px;
      opacity: 20%;
      font-weight: 600;
      line-height: 32px;
      font-size: 24px;
      color: #232536;
}
.line4{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
}
.line5{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
}
.lin{
      position: absolute;
      top: 82px;
      right: -49px;  
}
/* SECTION5 */
      .sec5{
            background: #F9F9FF;
            padding: 96px 0 96px 0;
      }

.swiper {
  width: 607px;
  background-color: white;
  box-shadow: none;
}
.swiper-slide {
  padding: 48px 69px 42px 40px;
  box-shadow: none;
}
.sec5-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swiper-slide{
  position: relative;
}
.vergul{
  position: absolute;
  top: -19px;
  right: 40px;
}
.log{
  position: absolute;
  bottom: 42px;
  right: 42px;
}
.abou{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}
.pi h3{
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #232536;
}
.pi p{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #232536;
}
.swiper-slide h1{
  font-weight: 600;
  line-height: 36px;
  font-size: 24px;
  color: #232536;
  max-width: 498px;
}
.line10{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.box{
  width: 16px;
  height: 16px;
  background-color: #666DFF;
}
.sec5-left h1{
      font-size: 48px;
      font-weight: 600;
      line-height: 58px;
      color: #232536;
      max-width: 492px;
}
.sec5-left h3{
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #232536;
      margin-top: 16px;
}
.sec5-p{
      font-size: 16px;
      line-height: 24px;
      color: #232536;
      opacity: 87%;
      margin-top: 16px;
      max-width: 492px;
}
.peoples{
      display: flex;
      align-items: center;
      gap: 12px;
      margin-top: 24px;
}
.sec5-left .custom span{
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #000000;
}
.sec5-left .custom p{
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      color: #000000;
}
.custom{
      display: flex;
      align-items: center;
      margin-top: 14px;
}

/* SECTION 6 */

.sec6{
      padding: 96px 0 96px 0;
      background-color: #ECF8F9;
}
.sec6-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;
}
.sec6-card{
      display: flex;
}
.sec6-text{
      width: 300px;
      background-color: #FFFFFF;
      padding: 32px;
}
.sec6-text .date{
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #232536;
      opacity: 60%;
      margin-bottom: 8px;
}
.sec6-text h2{
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      color: #232536;
}
.sec6-bottom{
      display: flex;
      align-items: center;
      gap: 32px;
}
.sec6-top h1{
      font-size: 48px;
      font-weight: 600;
      line-height: 58px;
      color: #232536;
      margin-top: 19px;
}

/* SECTION 7 */
.sec7{
      padding: 96px 0 96px 0;
}
.sec7 .container{
      padding: 96px 0 96px 0;
      background-color: #666DFF;
}
.sec7-content{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.sec7-left h1{
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      color: #ffffff;
      max-width: 488px;
      margin-left: 96px;
}
.sec7-left h6{
      margin-bottom: 13px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 3px;
      color: #ffffff;
      margin-left: 96px;
}
.input{
      margin-right: 96px;
      padding: 20px 262px 20px 29px;
      outline: none;
      border: none;
}
.input::placeholder{
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: #232536;
      opacity: 40%;
}
.sec7 .container{
      position: relative;
}
.svg{
      position: absolute;
      top: 0;
      left: 0;
}
.shaps{
      position: absolute;
      top: 0;
      right: 0;
}

/* FOOTER */
.footer-content{
      display: flex;
      align-items: center;
      gap: 204px;
}
.footer-right{
      display: flex;
      align-items: flex-start;
      gap: 60px;
}
.footer-list1{
      display: flex;
      flex-direction: column;
      gap: 12px;
}
.footer-list1 a{
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      color: #232536;
}
.footer-list2 .nth1{
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      color: #232536;
      cursor: pointer;
}
.footer-list2 p{
      font-size: 14px;
      line-height: 20px;
      color: #232536;
}
.footer-list2{
      display: flex;
      flex-direction: column;
      gap: 12px;
}
.footer-left h1{
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      color: #232536;
      max-width: 502px;
      margin-bottom: 40px;
      margin-top: 32px;
}
.footer-left h3{
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      color: #232536;
}
.number{
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      color: #232536;
      max-width: 268px;
      margin-top: 28px;
      border-bottom: 1px solid #00000014;
      padding: 0 0 14px 0;
}

.dlf{
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #232536;
      max-width: 206px;
      margin-top: 16px;
}
.footer{
      padding-bottom: 64px;
}
.footer .container{
      position: relative;
}
.cont{
      display: flex;
      align-items: center;
      gap: 8px;
      position: absolute;
      right: 0;
      bottom: -30px;
}
.cont p{
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #232536;

}
.mini-footer{
      padding: 32px 0 32px 0;
      background-color: #FFE6D2;
}
.mini-content{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.mini-left{
      display: flex;
      align-items: center;
      gap: 42px;
}
.mini-right{
      display: flex;
      align-items: center;
      gap: 26px;
}